{% extends "base.html" %}

{% block content %}

<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items' style='list-style-type:none'>
<div class = 'row'>

  <div id="msg-list-div" class="col-md-8 align-self-center">

{% for chat in object.chatmessage_set.all %}
{% if chat.user == request.user %}
<hr>
<li class="text-right" >{{ chat.message }} via {{ chat.user }}</li>

{% else %}
<hr>
<li class="text-left" >{{ chat.message }} via {{ chat.user }}</li>

{% endif %}
{% endfor %}
<hr>
<script>
var chatlist = document.getElementById('msg-list-div');
chatlist.scrollTop = chatlist.scrollHeight;
</script>
</div>
</div>

</ul>

<div class="form-row">
    <div class="col-8">
<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>
</div>
</div>

{% endblock %}

{% block script %}

<script>
$(document).ready(function(){
    // alert("jquery world")
    var formData = $("#form")
    var messageInput = $("#id_message")
    var chatItems = $('#chat-items')
    var loc = window.location
    var webSocketEndpoint =  'ws://' + loc.host + loc.pathname  // ws : wss
    var socket = new WebSocket(webSocketEndpoint)

    socket.onmessage = function(e){

        var msgData = JSON.parse(e.data)
        chatItems.append(${msgData.msg} via ${msgData.user})
    }

    socket.onopen = function(e){
        console.log('open', e)
        formData.submit(function(event){
            event.preventDefault()
            var messageText = messageInput.val()
            console.log(messageText)
            var jsonData = JSON.stringify({msg: messageText, user:'jmitchel3'})
            socket.send(jsonData)
            formData[0].reset()
        })
    }

    socket.onerror = function(e){
        console.log('error', e)
    }
    socket.onclose = function(e){
        console.log('closed', e)
    }




    if (socket.readyState == WebSocket.OPEN) {

    } else if (socket.readyState == WebSocket.CONNECTING){
        console.log("connecting..")
    }


})

</script>
{% endblock %}
